beautifulsoup4
brotlipy
certifi
cffi
charset-normalizer
click
colorama
cryptography
dataclasses
dnspython
Flask
Flask-Cors
idna
importlib-metadata
itsdangerous
Jinja2
MarkupSafe
mkl-fft
mkl-random
mkl-service
numpy
olefile
pandas
Pillow
pip
pycparser
pymongo
pyOpenSSL
PySocks
python-dateutil
pytube
pytz
requests
selenium
setuptools
six
soupsieve
typing_extensions
urllib3
Werkzeug
wheel
win-inet-pton
wincertstore
zipp
